<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0b3b15f070.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Rockets</title>
</head>

<body>

    <div class="container my-5">
        <div class="row">
            <!--ROCKET 1-->
            <div class="col-sm-6 mb-4">
                <!--create ROCKET 1 button-->
                <div class="card-body text-center">
                    <button class="btn btn-warning create-button" onclick="createRocket('32WESSDS');" id="button32WESSDS">Go to the Moon</button>
                    <button id="deletedMessage32WESSDS" class="deleted-message btn d-none">Trip Cancelled</button>
                </div>

                <!--Card appears when rocket is created-->
                <div class="card d-none animated fade-in" id="rocketDisplay32WESSDS">
                    <img src="https://cdn.dribbble.com/users/9953/screenshots/1993412/rocket.jpg" class="card-img-top" alt="rocket">

                    <!-- CLOSE / DELETE button -->
                    <button class="close-button rounded" onclick="deleteRocket('32WESSDS')"><i class="fas fa-times"></i></button>

                    <h4 class="card-title card-header text-center">Rocket to the Moon</h4>
                    <div class="card-body text-center">
                        <div>
                            <p class="d-inline card-text mr-2"><small>Speed Up</small></p>
                            <button onclick="speedUpRocket('32WESSDS');" class="btn btn-primary mx-1"><i class="fas fa-angle-up"></i></button>
                            <button onclick="speedDownRocket('32WESSDS');" class="btn btn-primary mx-1"><i class="fas fa-angle-down"></i></button>
                            <p class="card-text d-inline ml-2"><small>Speed Down</small></p>
                        </div>
                    </div>
                    <!--SHOW SPEED INFO BTN-->
                    <div class="card-text text-center my-3" id="speedButton32WESSDS">
                        <button class="btn btn-outline-info info-button" onclick="displayRocketInfo('32WESSDS');">Show Speed</button>
                    </div>

                    <!--FOOTER-->
                    <!--shows when clicking "show speed"-->
                    <div class="card-footer mt-3 py-3 d-none animated fadeIn fast" id="footer32WESSDS">
                        <h5 class="card-title">Rocket #<span id="rocketCode32WESSDS"></span></h5>
                        <p class="card-text">
                            <small>Boosters max power: <span id="rocketBoosters32WESSDS"></span></small>
                        </p>
                        <p class="card-text">Speed: <span id="rocketSpeed32WESSDS"></span></p>

                        <!--speed lines box-->
                        <div id="speedLines32WESSDS" class="d-inline card-text speed-box">
                        </div>
                    </div>
                </div>
            </div>


            <!--ROCKET 2-->
            <div class="col-sm-6 mb-4">
                <!--create ROCKET 2 button-->
                <div class="card-body text-center">
                    <button class="btn btn-warning create-button" onclick="createRocket('LDSFJA32');" id="buttonLDSFJA32">Go to Mars</button>
                    <button id="deletedMessageLDSFJA32" class="deleted-message btn d-none">Trip Cancelled</button>
                </div>
                <!--Card appears when rocket is created-->
                <div class="card d-none animated fadeIn" id="rocketDisplayLDSFJA32">
                    <img src="https://cdn.dribbble.com/users/9953/screenshots/1993412/rocket.jpg" class="card-img-top" alt="rocket">

                    <!-- CLOSE / DELETE Button -->
                    <button class="close-button rounded" onclick="deleteRocket('LDSFJA32')"><i class="fas fa-times"></i></button>
                    <h4 class="card-title card-header text-center">Rocket to Mars</h4>
                    <div class="card-body text-center">
                        <div>
                            <p class="d-inline card-text mr-2"><small>Speed Up</small></p>
                            <button onclick="speedUpRocket('LDSFJA32');" class="btn btn-primary mx-1"><i class="fas fa-angle-up"></i></button>
                            <button onclick="speedDownRocket('LDSFJA32');" class="btn btn-primary mx-1"><i class="fas fa-angle-down"></i></button>
                            <p class="card-text d-inline ml-2"><small>Speed Down</small></p>
                        </div>
                    </div>
                    <!--SHOW SPEED INFO BTN-->
                    <div class="card-text text-center my-3" id="speedButtonLDSFJA32">
                        <button class="btn btn-outline-info info-button" onclick="displayRocketInfo('LDSFJA32');">Show Speed</button >
                    </div>

                    <!--FOOTER-->
                    <!--shows when clicking "show speed"-->
                    <div class="card-footer mt-3 py-3 d-none animated fadeIn fast" id="footerLDSFJA32">
                    <h5 class="card-title">Rocket #<span id="rocketCodeLDSFJA32"></span></h5>
                    <p class="card-text"><small>Boosters max power: <span id="rocketBoostersLDSFJA32"></span></small></p>
                    <p class="card-text">Speed: <span id="rocketSpeedLDSFJA32"></span></p>
                    
                    <!--speed lines box-->
                    <div id="speedLinesLDSFJA32" class="d-inline card-text speed-box">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="../models/rocket.js"></script>
    <script src="../models/thruster.js"></script>
    <script src="../controllers/controllers.js"></script>
</body>

</html>