html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* STYLES */

.create-button {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.info-button {
    width: 90%;
}

.fa-angle-up,
.fa-angle-down {
    font-size: 16px;
    color: white;
}

.fa-square {
    font-size: 16px;
    color: #1E8999;
}

.close-button>.fa-times {
    font-size: 16px;
    color: white;
}

.close-info-button>.fa-times {
    font-size: 16px;
    color: rgba(143, 131, 131);
}

.close-button {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
    width: 30px;
    background: none;
    border-color: rgb(233, 119, 104);
}

.close-button:focus {
    outline-color: #FFA093;
}

.speed-box {
    width: 80%;
}


/*  rockets.html styles (OLD UI)

.content {
    margin: 60px auto;
}

.box {
    background-color: #CCDAD1;
    height: 400px;
}

.rocket-info {
    padding-top: 10vh;
}

.btn-rockets {
    background-color: #004E64;
    color: #EEF5DB;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
}

.btn-rockets:hover {
    background-color: #12697C;
    color: #EEF5DB;
}

.button-box {
    height: 10vh;
    width: 20vw;
    background-color: #CCDAD1;
}

.btn-controls {
    background-color: #004E64;
    color: #EEF5DB;
}

.btn-controls:hover {
    background-color: #12697C;
    color: #EEF5DB;
}

i {
    font-size: 120px;
    color: #C44F21;
} */